<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">User Dashboard</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Home</a>
    <a class="p-2 text-dark" routerLink="/users">User list</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/users/add">Add User</a>
</div>
<main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">User Dashboard</h1>
      <p class="lead text-muted">In this list of users implemented NgRx Reactive State for Angular with CRUD operations</p>
      <p>
        <a routerLink="/users" class="btn btn-success my-2 mr-2">Load User List</a>
        <a routerLink="/users/add" class="btn btn-primary my-2">Add New User</a>
      </p>
    </div>
  </section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
